.card {
    width: 270px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 0 8px 0px #cccccc;
    margin: 0 0 19px 26px;
    position: relative;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .card {
        margin: 0 0 19px 0;
    }
}

.title {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 22.5px;
    font-weight: lighter;
}

.deg-main {
    text-align: center;
    font-size: 37px;
    font-weight: lighter;
    margin: 16px 0 0 0;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main-description {
    text-align: center;
    font-weight: lighter;
    font-size: 21px;
    letter-spacing: 3px;
}

.trash-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    color: #CCCCCC;
    display: none;
    cursor: pointer;
    font-size: 39px;
}

.card:hover > .trash-icon {
    display: block;
}

.trash-icon:hover {
    color: black;
}

