.city-details {
    width: 86%;
    height: 549px;
    border-radius: 20px;
    box-shadow: 0 0 8px 0px #cccccc;
    padding: 88px 0px 18px 0px;
}


.up-section {
  display: flex;
  justify-content: space-between;
  padding: 0px 258px 48px 184px;
  margin-top: -5px;
  border-bottom: 1px solid #e7e7e7;
}


.down-section {
  
}

.extend-data {
    width: 292.5px;
    font-size: 93px;
    font-weight: lighter;
    text-align: center;
    margin-top: -58.5px;
    margin-left: 99px;
  }

  .other-data {
    display: flex;
    font-size: 13.5px;
    justify-content: space-between;
    /* border-right: 1px solid #bfbfbf; */
}

.city-name {
  height: 36px;
    letter-spacing: 5px;
    font-size: 24px;
    text-decoration: underline;
}

.condition {
  font-weight: lighter;
    font-size: 34.5px;
    letter-spacing: 3px;
    margin-bottom: 19.5px;
  }

  .humidity {
    border-right: 1px solid #bfbfbf;
    /* padding-right: 39px; */
    width: 50%;
  }
  
  .wind {
    width: 50%;
  }
  
  @-webkit-keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
    
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
    
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
    
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 1.5s;
  }

@media only screen and (max-width: 400px) {
  .city-details {
    width: 296px;
    height: auto;
  }

  .up-section {
    border-bottom: none;
    flex-flow: column;
    padding: 0;
  }

  .city-name {
    margin: 0 auto;
    padding-top: 17px;
  }

  .other-data {
    position: relative;
    right: 92px;
  }

  .condition {
    position: relative;
    right: 97px;
  }

  .the-deg {
    position: relative;
    right: 80px
  }
}