.daily-container {
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .daily-container {
        padding-top: 25px;
        margin-top: 23px;
        border-top: 1px solid #80808030;
    }
}


.day-in-week {
    font-weight: bolder;
}

.daily-icon {
    width: 94.5px;
    margin: 37.5px 0;
}

.daily-deg {
    margin: 0 0 12px 0;
    font-weight: bolder;
}

.daily-condition {
    font-size: 15px;
}