.minmax-container {
    display: flex;
    justify-content: space-between;
    margin: 29.5px 43.5px;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
}

.minmax {
    margin: -5px 0 0 0;
}

.arrow-icon {
    display: block;
    margin: 0 0 -9px 0;
}
